body {
    background-color:#007ACC;
    color: white;
    font-family: 'Epilogue', sans-serif;
    text-align: center;
}

/* .custom{
    margin: auto;
    
} */

#title{
    font-size: 7em;
   
  
}
.top{
    margin-bottom: 150px;
}

.timer{
    font-size: 5em;
   
   
}

.btn{
    margin-left: auto;
  margin-right: auto;
}

.relax {
    animation-name: relaxTransition;
    animation-duration: 4s;
  }
  
  @keyframes relaxTransition {
    from {background-color: #007ACC;}
    to {background-color: #DD5713;}
  }


  .focus {
    animation-name: focusTransition;
    animation-duration: 4s;
  }
  
  @keyframes focusTransition {
    from {background-color: #DD5713;}
    to {background-color: #007ACC;}
  }